body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    background-color: #0f1620;
    background-image: url("../../img/vitrine/fond.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  
.sect .container {
    position: relative;
    width: 70%;
    height: 600px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 40 auto; 
    background-color: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: nowrap;
  }
  
.sect .container img {
    position: absolute;
    aspect-ratio: 1/1;
    width: 30%;
    height: auto;
    object-fit: cover;
    left: 15px;
    right: 15;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    border: 3px solid #000000;
  }
  
  .titre {
    width: 40%;
    height: 30px;
    margin: 0 auto; 
    background-color: #4285f4; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-radius: 25px; 
    padding: 20px; 
    text-align: center;
    margin-top: 20px;
  }
  .titre h1 {
    margin: 0 auto; 
  }

.sect .container h1 {
    margin-top: 10%;
    margin-right: 3%;
    font-size: 2em;
    color: #000000; 
    margin-bottom: 2%;
  }
  
.sect .container .text {
    margin-left: 35%;
    word-wrap: break-word;
}

.sect .container p {
  margin-right: 3%;
  font-size: 1rem;
  color: #000000;
  
}


.sect .container .location {
    flex-direction: row;
    align-items: center;
    display: flex;
    }

#icon {
    margin-right: -1.5%;
    color: #D48042;
}



.sect .container .buttons {
    position: absolute;
    bottom: 0;
    left: 25px ;
    margin: 25px auto;
  }
  
.sect .container .buttons a,
button {
    font-size: 1.2rem;
    background-color: #D48042;
    color: #fff;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
  }
  
.sect .container .buttons a,
button:hover {
    background-color: #aa622e;
    color: #ffffff;
  }

  .sect .container #ent{
    background-color: #4285f4;
    margin-left: 10px;
}

.sect .container #ent:hover {
    background-color: #2d5faf;
    color: #ffffff;
  }


  @media screen and (max-width: 768px) {
    .sect .container {
      flex-direction: column;
      justify-content: center;
      height: 800px;
      width: 100%;
    }
    .sect .container img {
      position: absolute;
      width: 240px;
      height: auto;
      margin: 0 auto;
      top: 130;
    }
    .sect .container .text {
      margin-left: 2%;
      
    }
    .sect .container h1 {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 25%;
    }
    .sect .container .buttons{
        position: absolute;
        margin: 25px auto;
    }

    .titre {
        width: 90%;
    }

    .sect .container .buttons a, button {
        font-size: 0.8rem;
        padding: 0.6rem 1.2rem;
      }

  }





